# vs code settings
.vscode/

# mac specific .DS_Store file
.DS_Store

# analysis data download files
analyses/01_PanelAPp/data/downloads
analyses/02_Literature/data/downloads
analyses/03_DiagnosticPanels/data/downloads
analyses/B_AnnotationHGNC/data
analyses/B_AnnotationHGNC/results/clinvar_table*
analyses/shared/data/downloads